body {
  font-family: $primary-font-stack;
}

.logo--link {
  font-family: $logo-font-stack;
  font-size: 2.8rem;
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 15%);
  }
}

.nav-box__nav-item--link {
  font-size: 1.5rem;
  color: $white-color;
  text-transform: uppercase;

  &:hover {
    color: $primary-color;
  }
}

.heading-primary {
  color: $white-color;
  margin-bottom: 4rem;

  &--main {
    display: block;
    font-size: 4.1rem;
    font-family: $secondary-font-stack;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  &--sub {
    display: block;
    font-size: 7.5rem;
    text-transform: uppercase;
  }
}