.services-section {
  padding: 15rem 0;
}

.services {
  display: flex;
  justify-content: center;
}

.portfolio-section {
  padding: 15rem 0;
  background-color: $off-white-color;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
}