// Colors
$main-color: #fed035;
$white-color: #fff;
$grey-color: #6c757d;

// Fonts
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Kaushan Script', cursive;
$tertiary-font: Georgia, 'Times New Roman', Times, serif;