// Colors
$primary-color: #fed035;
$white-color: #fff;

// Sizes
$container-width: 114rem;

// Fonts
$primary-font-stack: 'Montserrat', sans-serif;
$secondary-font-stack: Georgia, 'Times New Roman', Times, serif;
$logo-font-stack: 'Kaushan Script', cursive;

