// Colors
$main-color: #fed035;
$white-color: #fff;
$off-white-color: #f8f9fa;
$grey-color: #6c757d;
$dark-grey-color: #202428;

// Fonts
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Kaushan Script', cursive;
$tertiary-font: Georgia, 'Times New Roman', Times, serif;