.header {
  height: 99vh;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  position:relative;
}

.header-content {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.heading-primary {
  color: $white-color;
  margin-bottom: 5rem;

  &--main {
    display: block;
    font-size: 4rem;
    font-family: $tertiary-font;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  &--sub {
    display: block;
    font-size: 7.5rem;
    text-transform: uppercase;
  }
}


